<%= turbo_frame_tag task do %>
  <%= form_with(model: task) do |f| %>
    <div class="row py-2 px-4 border-top m-0">
      <% if task.errors.any? %>
        <div style="color: red">
          <ul style="list-style: none;">
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-2 d-flex align-items-center p-0">
        <%= f.date_field :due_on, class: "form-control" %>
      </div>
      <div class="col-8 position-relative">
        <%= f.text_area :description, class: "form-control", rows: 3 %>
      </div>
      <div class="col-1 d-flex align-items-center">
        <div class="d-flex justify-content-center">
          <%= f.submit nil, class: "btn btn-outline-dark" %>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center justify-content-end">
        <div class="d-flex justify-content-end">
          <%= link_to "back", tasks_path, class: "link-secondary", style: "text-decoration: none" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
