<h1>Tasks#index</h1>

<%= search_form_for @search do |f| %>
  <%= f.search_field :description_cont %>
  <%= f.submit %>

  <%= link_to "クリア", tasks_path %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.description %>
      <% if current_user.done?(task) %>
        <%= link_to "not yet", task_completions_path(task), data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "done", task_completions_path(task), data: { turbo_method: :post }  %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @tasks %>
