<%= turbo_frame_tag @task do %>
  <div>
    <div class="border-top">
      <div class="px-5 py-4 m-0 row justify-content-between">
        <p class="p-0 m-0 col-5 fw-bold"><%= l(@task.due_on, format: :short) %>&nbsp;〆</p>
        <div class="col-3 p-0">
          <%= render partial: "tasks/completion", locals: { task: @task } %>
        </div>
      </div>
      <p class="px-5 pt-4 pb-4 m-0"><%= text_url_to_link(safe_join((h(@task.description)).split("\n"),tag(:br))).html_safe %></p>
      <div class="px-5 py-4 m-0 d-flex justify-content-end">
        <p class="m-0 col-7 text-end text-muted">created by <%= @task.user.name %></p>
      </div>
      <div class="px-5 pb-4 row m-0 shadow-bottom">
        <div class="col-6 d-flex align-items-center text-start p-0">
          <P class="m-0 d-flex align-items-center me-3"><%= link_to "Back", tasks_path, class: "link-secondary", style: "text-decoration: none" %></p>
        </div>
        <div class="col-6 p-0">
          <div class="d-flex justify-content-end">
            <% if @task.user_id == current_user.id %>
              <P class="m-0 d-flex align-items-center me-2">
                <%= link_to "編集", edit_task_path, class:"link-secondary me-2", style: "text-decoration: none" %>
              </p>
              <P class="m-0 d-flex align-items-center me-3">
                <%= link_to "削除", @task, data: { turbo_method: :delete, turbo_confirm: "タスクを削除します。よろしいですか？" }, class:"link-danger me-2", style: "text-decoration: none" %>
              </p>
            <% end %>
            <%= link_to "リマインド", task_notifications_path(@task), data: { turbo_method: :post, turbo_confirm: "リマインドを実行します。" }, class:"btn btn-light btn-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <% @users.each do |user| %>
        <div class="row py-2 px-5 border-top m-0 bg-light">
          <div class="col-6 offset-2 position-relative d-flex align-items-center">
            <p class="py-3 m-0"><%= user.name %></p>
          </div>
          <div class="col-2 d-flex align-items-center">
            <div class="d-flex justify-content-center">
              <%= user.task_status(@task) %>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
