<%= turbo_frame_tag @task do %>
  <div>
    <div class="border-top border-bottom">
      <div class="px-4 py-2 m-0 border-bottom row justify-content-between">
        <p class="p-0 m-0 col-5"><%= l(@task.due_on, format: :default) %>&nbsp;〆</p>
        <p class="m-0 col-7 text-end text-muted">created by <%= @task.user.name %></p>
      </div>
      <p class="px-4 pt-4 pb-4 m-0"><%= @task.description %></p>
      <div class="px-4 pb-4 row m-0">
        <div class="col-6 d-flex align-items-center text-start p-0">
          <P class="m-0 d-flex align-items-center me-3"><%= link_to "back", tasks_path, class: "link-secondary", style: "text-decoration: none" %></p>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <% if @task.user_id == current_user.id %>
              <%= link_to "編集", edit_task_path, class:"btn btn-outline-secondary btn-sm me-2" %>
              <%= button_to "削除", @task, method: :delete, form: { data: { turbo_confirm: "タスクを削除します。よろしいですか？" } }, class:"btn btn-outline-secondary btn-sm me-2" %>
            <% end %>
            <%= link_to "リマインド", task_notifications_path(@task), data: { turbo_method: :post }, class:"btn btn-light btn-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <% @users.each do |user| %>
        <div class="row py-2 px-5 border-top m-0">
          <div class="col-6 offset-2 position-relative d-flex align-items-center">
            <p class="py-3 m-0"><%= user.name %></p>
          </div>
          <div class="col-2 d-flex align-items-center">
            <div class="d-flex justify-content-center">
              <%= user.task_status(@task) %>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
