<!DOCTYPE html>
<html>
  <head>
    <title>Otonashi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div  class="vh-100">
      <div class="row">
        <% unless request.path.include?('login') %>
          <div class="p-0" style="width: 320px;"></div>
          <div class="p-0 position-fixed" style="width: 320px;">
            <%= render "layouts/sidebar" %>
          </div>
        <% end %>
        <div class="col my-4 mx-auto px-5" style="max-width: 980px">
          <% flash.each do |key, value| %>
            <div class="alert <%= key == 'notice' ? 'alert-primary' : 'alert-danger' %> alert-dismissible">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <%= content_tag(:div, value, class: "key")%>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
