<!DOCTYPE html>
<html>
  <head>
    <title>Otonashi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div  class="vh-100">
      <div class="row">
        <% unless request.path.include?('login') %>
          <div class="p-0" style="width: 320px;"></div>
          <div class="p-0 position-fixed" style="width: 320px;">
            <%= render "layouts/sidebar" %>
          </div>
        <% end %>
        <div class="col my-4 mx-auto px-5" style="max-width: 980px">
          <%= yield %>
        </div>
      </div>
    </div>
     <div id="flashes" class="position-fixed top-0 end-0" style="margin: 0.75rem"></div>
  </body>
</html>
